<h2>Is Coffee Good for You?</h2>
<div class="article">
    <section class="image">
        <figure>
            <img src="img/article-1.jpg" alt="coffee cup on coffee beans" />
            <figcaption>coffee cup on coffee beans</figcaption>
        </figure>
    </section>
    <section class="desc">
        <p>Yes.
            In moderation, coffee seems to be good for most people — that’s 3 to 5 cups daily,
            or up to 400 milligrams of caffeine.

            “The evidence is pretty consistent that coffee is associated with a lower risk of
            mortality,”
            said Erikka Loftfield, a research fellow at the National Cancer Institute who has studied
            the beverage.

            For years, coffee was believed to be a possible carcinogen, but the 2015 Dietary Guidelines
            helped to
            change perception. For the first time, moderate coffee drinking was included as part of a
            healthy diet.
            When researchers controlled for lifestyle factors, like how many heavy coffee drinkers also
            smoked,
            the data tipped in coffee’s favor.
        </p>

        <p>
            A large 2017 review on coffee consumption and human health in the British Medical Journal
            also found that
            most of the time, coffee was associated with a benefit, rather than a harm. In examining
            more than 200 reviews
            of previous studies, the authors observed that moderate coffee drinkers had less
            cardiovascular disease,
            and premature death from all causes, including heart attacks and stroke, than those skipping
            the beverage.

            In addition, experts say some of the strongest protective effects may be with Type 2
            diabetes, Parkinson’s disease,
            and liver conditions such as cirrhosis, liver cancer and chronic liver disease. For example,
            having about five cups
            of coffee a day, instead of none, is correlated with a 30 percent decreased risk of Type 2
            diabetes, according to
            a meta-analysis of 30 studies.</p>
    </section>

</div>

<hr>

<h2>5 Delightful Iced Coffee Drinks for Summer</h2>
<div class="article">
    <section class="image">
        <figure>
            <img src="img/article-2.jpg" alt="colorful summer drinks" />
            <figcaption>colorful summer drinks</figcaption>
        </figure>
    </section>
    <section class="desc">


        <p>The summer heat is fully underway, and by now most of us have switched over to drinking iced
            coffee drinks.
            Whether you’re a cold brew lover or you’re looking for a more sophisticated brunching
            beverage,
            we’ve got a recipe just for you!

            The summer heat is fully underway, and by now most of us have switched over to drinking iced
            coffee drinks.
            Cold coffee can be refreshing on its own, but let’s face it; sometimes you’re craving
            something
            more.
            Well, not to worry -- we’re right there with you, and we’ve been busy crafting superb chilly
            coffee drinks to try this summer.
            Whether you’re a cold brew lover or you’re looking for a more sophisticated brunching
            beverage,
            we’ve got something just for you.
        </p>
        <p>
            Cold Brew Lemonade.

            Let’s kick this off with a twist on a summer classic. This cold brew lemonade is sweet, a
            bit
            tart, and basically the coffee lover’s
            take on an Arnold Palmer. If you love your cold brew, this is going to be your new summer
            classic -- and it’s almost too easy to
            make!

            Here’s what you’ll need:

            1-2 oz lemon juice
            20-30 g simple syrup
            4-5 oz water
            4-5 oz cold brew (check our blog post on cold brew for recipes)
            Ice

            Start by making the lemonade base - combine the lemon juice, simple syrup, and water in your
            cup.
            Now, every lemon is going to be a bit different, so we recommend alternating the syrup and
            water
            and tasting as you go. You want a lemonade that’s slightly tart and not too sweet, as the
            cold brew
            you add later will be slightly bitter and sweet on its own.
        </p>
    </section>
</div>

<hr>
<h2>How Coffee is Made?</h2>
<div class="article">
    <section class="image">
        <figure>
            <img src="img/article-3.jpg" alt="coffee beans" />
            <figcaption>coffee beans</figcaption>
        </figure>
    </section>
    <section class="desc">


        <p>If you love coffee, have you ever stopped to wonder where does coffee come from? Many people
            imagine coffee beans
            growing on a plant but what they don’t know is that coffee doesn’t start in the form of a
            bean
            at all.
            A coffee bean is actually a seed that comes from a specific type of berries. Therefore, we
            can
            say that coffee beans
            actually come from a fruit!

            Coffee berries usually contain beans that are split in two. However, in around 5% of the
            beans
            harvested it can happen
            that a bean doesn’t split and this type of a coffee bean is popularly called Peaberry since
            its
            shape resembles a pea.

            When it comes to length of the whole production process, a coffee plant can take up to five
            years to produce its precious
            fruit and it cannot grow in every climate. In order to produce a good harvest, the coffee
            trees
            will require special care
            with the attention to soil. This limits where coffee is grown, but the climate where tree
            grows
            is typically a warm climate
            of subtropical regions and equatorial regions like Latin America, the Caribbean, or
            elsewhere.
        </p>
        <p>
            The berries are typically harvested by a machine or picked by hand. In order to get the
            beans out, the fruit of the berry needs to be removed and after that the beans need to be
            processed. There are only two known ways of processing beans - dry processing, which is an
            older technique and wet processing, which is a more modern technique.

            Dry processing is the oldest method of coffee processing. The dry processed beans are placed
            in the sun and left to dry for around two weeks while being turned from time to time so they
            can dry evenly.

            Wet processing is a modern method of processing beans and it takes place soon after the
            harvest. This coffee harvesting process consists of washing and fermentation. During this
            process the pulp that is left on the beans will become softer and the pulp be rinsed off.
            Today, this method of processing is used more frequently since it prevents damage to the
            beans.

            When the processing is done, the beans are sorted. All of the bad beans are thrown out and
            the good ones are put in bags and shipped. At this point they are called “green coffee
            beans.” However, there is one final step, roasting the beans.
        </p>
        <hr>
    </section>
</div>