<div class="container">
    <h2>Menu</h2>
    <div class="row">
        <figure>
            <img src="img/cappucino-1.jpg" alt="cup of capuccino" />
            <figcaption>Cappucino</figcaption>
        </figure>

        <figure>
            <img src="img/espresso-2.jpg" alt="cup of expresso" />
            <figcaption>Espresso</figcaption>
        </figure>

        <figure>
            <img src="img/latte-3.jpg" alt="cup of latte" />
            <figcaption>Latte</figcaption>
        </figure>

        <figure>
            <img src="img/decaf-4.jpg" alt="cup of decaf coffee" />
            <figcaption>Decaf</figcaption>
        </figure>

        <figure>
            <img src="img/hot-chocolate-5.jpg" alt="cup of hot chocolate" />
            <figcaption>Hot chocolate</figcaption>
        </figure>

        <figure>
            <img src="img/iced-coffee-6.jpg" alt="glass of iced coffee" />
            <figcaption>Iced Coffee</figcaption>
        </figure>
        <hr>
    </div>